:root{
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins;
}
body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}
header, section{
  padding: 70px min(50px, 7%);
}
section{
  background-color: var(--base-variant);
}
p{
  margin: 10px 0 20px 0;
  color: var(--secondary-text);
}
button{
  border: none;
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 1px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

#theme-switch {
  height: 55px;
  width: 55px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform .3s ease, box-shadow .3s ease;
  overflow: hidden;
  
}

/* Sharingan Image */
#theme-switch img {
  height: 60px;
  width: 60px;
  transition: transform .6s ease;
  
}

/* Hover effect */
#theme-switch:hover img {
  transform: rotate(360deg) scale(1);
}

/* Dark Mode version of the image glow */
.darkmode #theme-switch img {
  filter: drop-shadow(0 0 6px red);
}

/* Optional: make button slightly glow in dark mode */
.darkmode #theme-switch {
  box-shadow: 0 0 10px rgb(12, 235, 86);
}

